@font-face {
  font-family: 'Klampenborg';
  src: url('../fonts/klampenborg_bold-webfont.eot');
  src: url('../fonts/klampenborg_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/klampenborg_bold-webfont.woff') format('woff'), url('../fonts/klampenborg_bold-webfont.ttf') format('truetype'), url('../fonts/klampenborg_bold-webfont.svg#klampenborg_2010bold') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Klampenborg';
  src: url('../fonts/klampenborg_semibold-webfont.eot');
  src: url('../fonts/klampenborg_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/klampenborg_semibold-webfont.woff') format('woff'), url('../fonts/klampenborg_semibold-webfont.ttf') format('truetype'), url('../fonts/klampenborg_semibold-webfont.svg#klampenborg_2010semibold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Klampenborg';
  src: url('../fonts/klampenborg_medium-webfont.eot');
  src: url('../fonts/klampenborg_medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/klampenborg_medium-webfont.woff') format('woff'), url('../fonts/klampenborg_medium-webfont.ttf') format('truetype'), url('../fonts/klampenborg_medium-webfont.svg#klampenborg_2010medium') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Klampenborg';
  src: url('../fonts/klampenborg_regular-webfont.eot');
  src: url('../fonts/klampenborg_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/klampenborg_regular-webfont.woff') format('woff'), url('../fonts/klampenborg_regular-webfont.ttf') format('truetype'), url('../fonts/klampenborg_regular-webfont.svg#klampenborg_2010regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Klampenborg';
  src: url('../fonts/klampenborg_light-webfont.eot');
  src: url('../fonts/klampenborg_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/klampenborg_light-webfont.woff') format('woff'), url('../fonts/klampenborg_light-webfont.ttf') format('truetype'), url('../fonts/klampenborg_light-webfont.svg#klampenborg_2010light') format('svg');
  font-weight: 200;
  font-style: normal;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  font-family: "Klampenborg";
  color: #fff;
  background: #ff00f0;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.canvas {
  height: 1080px;
  width: 1920px;
  position: relative;
  outline: 1px solid red;
}
.safezone {
  position: absolute;
  top: 37.8px;
  left: 67.2px;
  height: 1004.4px;
  width: 1785.6px;
  outline: 1px solid red;
}
.gfxzone {
  position: absolute;
  top: 54px;
  left: 192px;
  height: 972px;
  width: 1536px;
  outline: 1px solid red;
}
.race-number {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 130px;
  height: 140px;
  background-color: #323b79;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.race-number.hide {
  left: -500px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.race-number-header {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}
.race-number-number {
  padding-top: 0px;
  text-align: center;
  font-size: 75px;
  font-weight: bold;
}
.race-time {
  position: absolute;
  left: 0px;
  overflow: none;
  bottom: 150px;
  width: 130px;
  height: 35px;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  background-color: #323b79;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.race-time.hide {
  left: -500px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.race-time.fade {
  background-color: #f6a10e;
}
.lowerthird {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 650px;
  max-width: 1345px;
  height: 140px;
  padding-left: 30px;
  overflow: hidden;
  margin-right: -192px;
  padding-right: 212px;
  background-color: #323b79;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.lowerthird.hide {
  right: -2000px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.lowerthird-small {
  margin-top: 10px;
  font-size: 26px;
  text-transform: uppercase;
  overflow: none;
}
.lowerthird-big {
  font-size: 55px;
  line-height: 75px;
  font-weight: bold;
  overflow: hidden;
}
.upperleft {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #323b79;
  font-size: 25px;
  line-height: 45px;
  padding-right: 30px;
  margin-left: -192px;
  padding-left: 192px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.upperleft.hide {
  left: -700px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.upperleft-sap {
  position: absolute;
  left: 0px;
  width: 810px;
  height: 80px;
  margin-left: -192px;
  padding-left: 222px;
  background: #000000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffc445), color-stop(1, #f0ab00));
  background: -ms-linear-gradient(bottom, #ffc445, #f0ab00);
  background: -moz-linear-gradient(center bottom, #ffc445 0%, #f0ab00 100%);
  background: -o-linear-gradient(#f0ab00, #ffc445);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0ab00', endColorstr='#ffc445', GradientType=0);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 100% 0%);
  -moz-clip-path: polygon(0% 10%, 0% 100%, 100% 90%, 100% 0%);
  -ms-clip-path: polygon(0% 10%, 0% 100%, 100% 90%, 100% 0%);
  clip-path: polygon(0% 10%, 0% 100%, 100% 90%, 100% 0%);
  color: #2d2d2d;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.upperleft-sap.hide {
  left: -1500px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.upperleft-sap-header {
  padding-top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 40px;
}
.upperleft-sap-subheader {
  font-size: 24px;
}
.upperleft-sap-logo {
  position: absolute;
  top: 10%;
  left: 67.2px;
  height: 80%;
  width: 300px;
  background-image: url('../gfx/sap_300_transparent.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
}
table {
  border-collapse: separate;
  border: none;
  border-spacing: 0;
}
.leaderboard {
  position: absolute;
  top: 140px;
  left: 0px;
  width: 100%;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.leaderboard.hide {
  left: -1500px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
#leaderboardTable {
  display: table;
  margin: 0 auto;
  color: #333333;
  font-size: 30px;
  line-height: 55px;
  text-transform: uppercase;
}
#leaderboardTable th {
  border-top: 12px solid #323b79;
}
#leaderboardTable thead {
  background: #ededee;
}
#leaderboardTable tbody:before {
  line-height: 1em;
  content: "-";
  text-indent: -9999px;
  display: block;
}
#leaderboardTable tbody {
  font-weight: 100;
}
#leaderboardTable tbody td {
  border-top: 4px solid #b5b5b5;
  background: #ededee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ededee), color-stop(1, #dbdbdc));
  background: -ms-linear-gradient(bottom, #ededee, #dbdbdc);
  background: -moz-linear-gradient(center bottom, #ededee 0%, #dbdbdc 100%);
  background: -o-linear-gradient(#dbdbdc, #ededee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdc', endColorstr='#ededee', GradientType=0);
  padding-left: 30px;
  padding-right: 30px;
}
#leaderboardTable tbody td .clubflag {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 8px;
}
#leaderboardTable tbody td.points,
#leaderboardTable tbody td.sum,
#leaderboardTable tbody td.nr {
  text-align: center;
}
#leaderboardTable tbody td.points {
  font-weight: 600;
}
#leaderboardTable tbody td.sum {
  font-weight: bold;
}
#leaderboardTable tbody td.nr {
  font-weight: bold;
}
.realtimeleaderboard {
  width: 35%;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.realtimeleaderboard.hide {
  left: -730px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.realtimeleaderboard-item {
  background: #323b79;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.realtimeleaderboard-item.move {
  transform: scale(1.1);
}
.realtimeleaderboard-item.nr1 {
  top: 0px;
}
.realtimeleaderboard-item.nr2 {
  top: 38px;
}
.realtimeleaderboard-item.nr3 {
  top: 76px;
}
.realtimeleaderboard-item.nr4 {
  top: 114px;
}
.realtimeleaderboard-item.nr5 {
  top: 152px;
}
.realtimeleaderboard-item.nr6 {
  top: 190px;
}
.realtimeleaderboard-item span {
  padding: 5px 10px;
  display: inline-block;
}
.realtimeleaderboard-item .plc {
  background: #232955;
}
.realtimeleaderboard-item .telemetry {
  float: right;
  background: #ededee;
  color: #333333;
  min-width: 75px;
  text-align: right;
}
