@font-face {
    font-family: 'Klampenborg'; // Bold
    src: url('../fonts/klampenborg_bold-webfont.eot');
    src: url('../fonts/klampenborg_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klampenborg_bold-webfont.woff') format('woff'),
         url('../fonts/klampenborg_bold-webfont.ttf') format('truetype'),
         url('../fonts/klampenborg_bold-webfont.svg#klampenborg_2010bold') format('svg');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Klampenborg'; // Semibold
    src: url('../fonts/klampenborg_semibold-webfont.eot');
    src: url('../fonts/klampenborg_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klampenborg_semibold-webfont.woff') format('woff'),
         url('../fonts/klampenborg_semibold-webfont.ttf') format('truetype'),
         url('../fonts/klampenborg_semibold-webfont.svg#klampenborg_2010semibold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Klampenborg'; // Medium
    src: url('../fonts/klampenborg_medium-webfont.eot');
    src: url('../fonts/klampenborg_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klampenborg_medium-webfont.woff') format('woff'),
         url('../fonts/klampenborg_medium-webfont.ttf') format('truetype'),
         url('../fonts/klampenborg_medium-webfont.svg#klampenborg_2010medium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Klampenborg';
    src: url('../fonts/klampenborg_regular-webfont.eot');
    src: url('../fonts/klampenborg_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klampenborg_regular-webfont.woff') format('woff'),
         url('../fonts/klampenborg_regular-webfont.ttf') format('truetype'),
         url('../fonts/klampenborg_regular-webfont.svg#klampenborg_2010regular') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Klampenborg'; //Light
    src: url('../fonts/klampenborg_light-webfont.eot');
    src: url('../fonts/klampenborg_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klampenborg_light-webfont.woff') format('woff'),
         url('../fonts/klampenborg_light-webfont.ttf') format('truetype'),
         url('../fonts/klampenborg_light-webfont.svg#klampenborg_2010light') format('svg');
    font-weight: 200;
    font-style: normal;
}