.canvas {
    height: @canvas-height;
    width: @canvas-width;
    position: relative;
    .debug;
}

.safezone {
    position: absolute;
    top:@safezone-offset-top;
    left:@safezone-offset-left;
    height: @safezone-height;
    width: @safezone-width;
    .debug();
}


.gfxzone {
    position: absolute;
    top:@gfxzone-offset-top;
    left:@gfxzone-offset-left;
    height: @gfxzone-height;
    width: @gfxzone-width;
    .debug();
}