table {
	border-collapse: separate;
	border: none;
	border-spacing: 0;
}
.leaderboard {
    position: absolute;
    top:140px;
    left:0px;
    width:100%;
    
    .animation-show;
    
    &.hide {
        left:-1500px;
        .animation-hide;
    }
}

#leaderboardTable {
    display: table;
    margin: 0 auto;
    
    color:@gray-darker;
    font-size: 30px;
    line-height: 55px;
    text-transform: uppercase;
    
    th {
        
        border-top:12px solid @brand;
    }
    
    thead {
        background: #ededee;
    }
    
    tbody:before {
        line-height:1em;
        content:"-";
        text-indent: -9999px;   
        display:block;
    }
    
    tbody {
        
        font-weight: 100;
        
        td {
            border-top: 4px solid #b5b5b5;
            .gradient(#ededee, #ededee, #dbdbdc);
            
            padding-left: 30px;
            padding-right: 30px;
            
            .clubflag {
                height: 50px;
                width: 50px;
                float:left;
                margin-right: 8px;
            }
            
            &.points, &.sum, &.nr {
                text-align: center;
            }
            
            &.points {
                font-weight: 600;
            }
            
            &.sum {
                font-weight: bold;
            }   
            
            &.nr {
                font-weight: bold;
            }  
        }        
    }
}