.lowerthird {
    position: absolute;
    
    bottom: 0;
    right:0;
    
    min-width: 650px;
    max-width: 1345px;
    height: 140px;
    padding-left: 30px;
    overflow: hidden;
    
    margin-right: -@gfxzone-offset-left;
    padding-right: @gfxzone-offset-left + 20;
    
    .branded-background;
    
    .animation-show;
    
    &.hide {
        right:-2000px;
        .animation-hide;
    }
}

.lowerthird-small {
    margin-top: 10px;
    font-size: 26px;
    text-transform: uppercase;
    overflow: none; 
}

.lowerthird-big {
    font-size: 55px;
    line-height: 75px;
    font-weight: bold;
    overflow:hidden;
}