.debug(){
        outline: 1px solid red;
}

.animation-show(){
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.animation-hide(){
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.branded-background(){
    background-color: @brand;
    //box-shadow: inset 0px -4px rgba(255, 255, 255, 0.4);
}

.sap-background(){
    .gradient(#000, @sap-orange1, @sap-orange2);
}