// Race information
//---------------------------
@race-info-width:130px;
@race-info-height:140px;

.race-number {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: @race-info-width;
    height: @race-info-height;
    
    .branded-background;
    
    .animation-show;
    
    &.hide {
        left:-500px;
        .animation-hide;
    }
}

.race-number-header {
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
}

.race-number-number {
    padding-top: 0px;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
}

.race-time {
    position:absolute;
    left:0px;
    overflow: none;
    
    bottom:@race-info-height + 10px;
    width: @race-info-width;
    
    height: 35px;

    text-align: center;
    font-size: 20px;
    line-height: 35px;
    
    .branded-background;
    
    .animation-show;
    
    &.hide {
        left:-500px;
        .animation-hide;
    }
    
    &.fade {
        background-color: @orange;
    }
}