@item-height:33px;
@item-padding:5px;


.realtimeleaderboard {
    width: 35%;
    position: relative;
    
    .animation-show;
    
    &.hide {
        left:-730px;
        .animation-hide;
    }
}

.realtimeleaderboard-item {
    background: @brand;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    
    &.move {
        transform: scale(1.1);
    }
    
    &.finished {
        
    }
    
    &.nr1 {
        top:(0px * (@item-height + @item-padding));
    }
    
    &.nr2 {
        top:(1px * (@item-height + @item-padding));
    }
    
    &.nr3 {
        top:(2px * (@item-height + @item-padding));
    }
    
    &.nr4 {
        top:(3px * (@item-height + @item-padding));
    }
    
    &.nr5 {
        top:(4px * (@item-height + @item-padding));
    }
    
    &.nr6 {
        top:(5px * (@item-height + @item-padding));
    }
    
    span {
        padding: 5px 10px;
        display: inline-block;
    }
    .plc {
        background: darken(@brand,10%);
    }
    
    .telemetry {
        float:right;
        background: @gray-ligher;
        color:@text;
        min-width: 75px;
        text-align: right;
    }

}


