.upperleft-sap {
    position: absolute;
    left:0px;
    width: 810px;
    height: 80px;

    margin-left: -@gfxzone-offset-left;
    padding-left: @gfxzone-offset-left+30;
    
    .sap-background;
    
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 100% 0%);
    -moz-clip-path: polygon(0% 10%, 0% 100%, 100% 90%, 100% 0%);
    -ms-clip-path: polygon(0% 10%, 0% 100%, 100% 90%, 100% 0%);
    clip-path: polygon(0% 10%, 0% 100%, 100% 90%, 100% 0%);
    
    color:#2d2d2d;
    
    .animation-show;
    
    &.hide {
        left:-1500px;
        .animation-hide;
    }
    
}

.upperleft-sap-header {
    padding-top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 40px;
}

.upperleft-sap-subheader {
    font-size: 24px;   
}

.upperleft-sap-logo {
    position: absolute;
    top:10%;
    left: @safezone-offset-left;
    height: 80%;
    width: 300px;
    
    background-image: url('../gfx/sap_300_transparent.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
}

