.upperleft {
    position: absolute;
    
    top: 0;
    left: 0;
    
    .branded-background;
    
    font-size: 25px;
    line-height: 45px;
    padding-right: 30px;
    
    margin-left: -@gfxzone-offset-left;
    padding-left: @gfxzone-offset-left;
    
    .animation-show;
    
    &.hide {
        left:-700px;
        .animation-hide;
    }
}