// Canvas size
//---------------------------

@canvas-width:1920px;
@canvas-height:1080px;

@safezone-width:@canvas-width - @canvas-width*0.07;
@safezone-height:@canvas-height - @canvas-height*0.07;
@safezone-offset-top:@canvas-height*0.035;
@safezone-offset-left:@canvas-width*0.035;

@gfxzone-width:@canvas-width - @canvas-width*0.20;
@gfxzone-height:@canvas-height - @canvas-height*0.10;
@gfxzone-offset-top:@canvas-height*0.05;
@gfxzone-offset-left:@canvas-width*0.10;


// Colors
//---------------------------
@key-color: #ff00f0;
@brand:@blue;
@text: @gray-darker;

@red:#e63c13;
@blue:#323b79;
@orange:#f6a10e;
@green:#8ecb13;

@gray-darker: #333333;
@gray-ligher: #ededee;

// SAP COLORS
@sap-orange1: rgba(255,196,69,1);
@sap-orange2: rgba(240,171,0,1);